@plugin "@tailwindcss/typography";

@layer components {
  .icon-btn {
    display: inline-grid;
    height: theme(spacing.9);
    width: theme(spacing.9);
    place-items: center;
    border-radius: var(--radius-md);
    padding: theme(spacing.2);
    outline: none;
    cursor: pointer;
    color: var(--color-secondary) !important;

    &:hover {
      background-color: var(--color-divider);
    }

    &:focus {
      box-shadow: 0 0 0 calc(var(--spacing) / 2) var(--color-secondary);
    }

    & > :where(svg, img) {
      height: 100%;
      width: 100%;
    }
  }
}

a {
  color: var(--color-primary);

  &:hover {
    text-decoration: underline;
  }
}
