@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-dir";
@source "../../../.flowbite-react/class-list.json";

/* force dark mode to used class */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000;

  /* Palette colors */
  --color-primary-light: #6b8ef2;
  --color-primary: #4c66af;
  --color-primary-dark: #3a518f;
  --color-primary-darker: #35477b;

  /* Text colors */
  --color-dark: #111827;
  --color-secondary: #6b7280;
  --color-disabled: #dddee3;
  --color-divider: #e5e7eb;

  /* Fonts */
  --font-cairo: "Cairo", Arial, Helvetica, sans-serif;
  --font-leckerli-one: "LeckerliOne", Arial, Helvetica, sans-serif;
  --font-lalezar: "Lalezar", Arial, Helvetica, sans-serif;

  --font-special-ar: var(--font-lalezar);
  --font-special-en: var(--font-leckerli-one);
  --font-primary: var(--font-cairo);

  /* Spacing */
  --spacing-sectionV-sm: theme(spacing.8);
  --spacing-sectionV-md: theme(spacing.24);

  --spacing-sectionH-sm: theme(spacing.4);
}

@custom-variant ar ([lang="ar"] &);
@custom-variant en ([lang="en"] &);

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}
